<!DOCTYPE html>
<html>

<%- include('partials/meta', {url: url}) %>

  <body>
    <%- include('partials/navbar') %>
      <center>
        <div class="grid">
          <div class="topRow">
            <div class="topRowContainer">
              <div class="leftTopRow">
                <img src="<%= user1.avatar %>" id="avatar">
                <div>
                  <h1 id="title1">
                    <%= user1.displayName %>
                  </h1>
                  <h3>@<%= user1.handle %>
                  </h3>
                </div>
              </div>
              <div class="smallStats">
                <div>
                  <h3 class="date">Joined:</h3>
                  <h3 style="margin-top: 0px" class="date">
                    <%= moment(user1.createdAt).format('MMMM Do, YYYY [at] h:mm:ss a') %>
                  </h3>
                </div>
              </div>
            </div>
            <hr>
            <div class="bio">
              <%=user1.description%>
            </div>
            <hr>
            <div class="mainStats">
              <div>
                <h2 class="count">
                  <%= (user1.followersCount).toLocaleString('en-us') %>
                </h2>
                <h3>Followers</h3>
                <a href="?live=followersCount">View Live Updates</a>
              </div>
              <div>
                <h2 class="count">
                  <%= (user1.postsCount).toLocaleString('en-us') %>
                </h2>
                <h3>Posts</h3>
                <a href="?live=postsCount">View Live Updates</a>
              </div>
              <div>
                <h2 class="count">
                  <%= (user1.followsCount).toLocaleString('en-us') %>
                </h2>
                <h3>Following</h3>
                <a href="?live=followsCount">View Live Updates</a>
              </div>
            </div>
            <hr>
            <center>
              <div style="display: flex; justify-content: center; width: 75%;">
                <button id="viewUploads" onclick="window.location.href='/compare/search?start=<%= user1.handle %>'">Compare With</button>
                <button id="viewUploads" onclick="window.location.href='/user/<%= user1.did %>'">View Profile</button>
              </div>
            </center>
            <div id="liveCounter1">
              <h1 id="live_name1">{name}</h1>
              <h2 class="odometer" id="live_count1">{count}</h2>
              <h3 id="live_label1">{label}</h3>
              <div id="chart1"></div>
            </div>
          </div>
          <div class="topRow">
            <div class="topRowContainer">
              <div class="leftTopRow">
                <img src="<%= user2.avatar %>" id="avatar">
                <div>
                  <h1 id="title2">
                    <%= user2.displayName %>
                  </h1>
                  <h3>@<%= user2.handle %>
                  </h3>
                </div>
              </div>
              <div class="smallStats">
                <div>
                  <h3 class="date">Joined:</h3>
                  <h3 style="margin-top: 0px;" class="date">
                    <%= moment(user2.createdAt).format('MMMM Do, YYYY [at] h:mm:ss a') %>
                  </h3>
                </div>
              </div>
            </div>
            <hr>
            <div class="bio">
              <%=user2.description%>
            </div>
            <hr>
            <div class="mainStats">
              <div>
                <h2 class="count">
                  <%= (user2.followersCount).toLocaleString('en-us') %>
                </h2>
                <h3>Followers</h3>
                <a href="?live=followersCount">View Live Updates</a>
              </div>
              <div>
                <h2 class="count">
                  <%= (user2.postsCount).toLocaleString('en-us') %>
                </h2>
                <h3>Posts</h3>
                <a href="?live=postsCount">View Live Updates</a>
              </div>
              <div>
                <h2 class="count">
                  <%= (user2.followsCount).toLocaleString('en-us') %>
                </h2>
                <h3>Following</h3>
                <a href="?live=followsCount">View Live Updates</a>
              </div>
            </div>
            <hr>
            <center>
              <div style="display: flex; justify-content: center; width: 75%;">
                <button id="viewUploads" onclick="window.location.href='/user/<%= user2.did %>'">View Profile</button>
                <button id="viewUploads" onclick="window.location.href='/compare/search?start=<%= user2.handle %>'">Compare With</button>
              </div>
            </center>
            <div id="liveCounter2">
              <h1 id="live_name2">{name}</h1>
              <h2 class="odometer" id="live_count2">{count}</h2>
              <h3 id="live_label2">{label}</h3>
              <div id="chart2"></div>
            </div>
          </div>
        </div>
        <div id="diff">
          <h2>Difference</h2>
          <h1 class="odometer" id="live_diff"></h1>
          <div id="chart3"></div>
          <hr><button id="liveButton" onclick="toggleLive()">Disable Live Updates</button>
        </div>
        <div class="charts">
          <div class="chart" id="stats_chart1"></div>
          <div class="chart" id="stats_chart2"></div>
          <div class="chart" id="stats_chart3"></div>
        </div>
        <table>
          <tr>
            <th>Date</th>
            <th>
              Followers
            </th>
            <th>
              Posts
            </th>
            <th>
              Following
            </th>
            <th>|</th>
            <th>
              Followers
            </th>
            <th>
              Posts
            </th>
            <th>
              Following
            </th>
          </tr>
          <% var dates=Object.keys(history1); %>
            <% for (let date in history2) { %>
              <% if (!dates.includes(date)) { dates.push(date); }}; dates.sort(); %>
                <% for (let date of dates) { %>
                  <tr>
                    <td>
                      <%= moment(date, 'DD-MM-YYYY' ).format('MMMM Do, YYYY') %>
                    </td>
                    <td>
                      <% if (history1[date]) { %>
                        <%= (history1[date].followersCount).toLocaleString('en-us') %>
                          <% } %>
                    </td>
                    <td>
                      <% if (history1[date]) { %>
                        <%= (history1[date].postsCount).toLocaleString('en-us') %>
                          <% } %>
                    </td>
                    <td>
                      <% if (history1[date]) { %>
                        <%= (history1[date].followsCount).toLocaleString('en-us') %>
                          <% } %>
                    </td>
                    <th>|</th>
                    <td>
                      <% if (history2[date]) { %>
                        <%= (history2[date].followersCount).toLocaleString('en-us') %>
                          <% } %>
                    </td>
                    <td>
                      <% if (history2[date]) { %>
                        <%= (history2[date].postsCount).toLocaleString('en-us') %>
                          <% } %>
                    </td>
                    <td>
                      <% if (history2[date]) { %>
                        <%= (history2[date].followsCount).toLocaleString('en-us') %>
                          <% } %>
                    </td>
                  </tr>
                  <% } %>
        </table>
      </center>
      <script>
        let daily_stats1 = "<%= JSON.stringify(history1) %>";
        let daily_stats2 = "<%= JSON.stringify(history2) %>";
        daily_stats1 = daily_stats1.replace(/&#34;/g, '"');
        daily_stats2 = daily_stats2.replace(/&#34;/g, '"');
        daily_stats1 = JSON.parse(daily_stats1);
        daily_stats2 = JSON.parse(daily_stats2);
      </script>
      <script src="/js/highstock.js"></script>
      <script src="/js/compare.js"></script>
      <script src="/js/odometer.js"></script>
  </body>

</html>